<div class="flex p-4">
  <div class="w-24">
    <%= image_tag "no-profile-image.png", class: "img-thumbnail size-16 mx-auto" %>
    <p class="text-sm"><%= "テストユーザー" %></p>
  </div>
  <div class="">
    <%= link_to membership_question_path(question), class: "" do %>
      <h3 class="text-2xl">
        <span class="badge text-bg-danger">未解決</span>
        <%= question.title %>
      </h3>
    <% end %>
  </div>
</div>
