.flash {
  position: fixed;
  top: 1rem;
  right: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm);

  max-width: calc(100% - 2rem);
  width: max-content;
  padding: 0 var(--spacing-md);
  z-index: 1000; /* 他の要素の上に表示されるようにする */
}

.flash__message {
  font-size: var(--font-size-root);
  color: var(--color-black);
  padding: var(--spacing-md) var(--spacing-md);
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: fadeInOut 4s ease-in-out;
  animation-fill-mode: forwards; /* アニメーション終了後に最後のキーフレームを維持 */
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}
